<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <title>MarkedList</title>
    <style>
      .marked {
        color: #efc14e;
      }
    </style>
  </head>
  <body>
    <div id="app" style="margin-top: 2rem">
      <div class="container">
        <div class="form-group">
          <input type="search" v-model="mark"/>
        </div>
        <div style="display: flex">
          <button @click="prevPage">prev</button>
          <span>Страница {{ page }}</span>
          <button @click="nextPage">next</button>
        </div>
        <ul
          v-for="(item, idx) in markedEmails"
          :key="item.id"
        >
          <li :class="{marked: item.marked}"> №: {{ item.id }}; Email: {{ item.email }}</li>
        </ul>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
